<section id="ideas">
    <% @ideas.each do |idea| %>
        <article>
        <div class="row">
            <div class="span4"><h4 title="<%= idea.created %>"><%= idea.title %></h4></div>
        </div>
        <div class="row">
            <div class="span11"><p><%= RDiscount.new(idea.text).to_html %></p></div>
            <div class="span1" style="vertical-align:middle; text-align: center;">
                    <a href="/<%= idea.id %>/upvote"><i class="icon-chevron-up"></i></a><br />
                    <h3><%= idea.karma %></h3>
                    <a href="/<%= idea.id %>/downvote"><i class="icon-chevron-down"></i></a>
            </div>
        </div>
        </article>
        <div class="row">
            <div class="span8">
                <span>
                    <a href="/<%= idea.id %>">Edit</a> | 
                    <a href="/<%= idea.id %>/delete">Delete</a> |
                    <% if not idea.complete %>
                        <a href="/<%= idea.id %>/complete">Complete</a>
                    <% else %>
                        <a href="/<%= idea.id %>/uncomplete">Uncomplete</a> | 
                        Completed on <%= idea.completion_time.strftime('%A, %b %d, %Y') %>.
                    <% end %>
                </span>
            </div>
        </div>
        <hr />
    <% end %>
</section>

<section id="submit">
    <form action="/" method="post">
        <input class="span8" type="text" name="title" placeholder="Title" /><br />
        <textarea class="span8" name="ideatext" placeholder="text goes here"></textarea>
        <div class="row">
            <div class="span1"><input type="submit" class="btn btn-primary" value="Submit" /></div>
        </div>
    </form>
</section>
